BY SARITA MA'AM

In [4]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('imdb_top_1000.csv')
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [7]:
df=pd.read_csv('Top100KDramas.csv')
df

,Name,Year of release,Aired Date,Aired On,Number of Episode,Network,Duration,Content Rating,Synopsis,Cast,Genre,Tags,Rank,Rating
0,Move to Heaven,2021,"May 14, 2021",Friday,10,Netflix,52 min.,18+ Restricted (violence & profanity),Geu Roo is a young autistic man. He works for ...,"Lee Je Hoon, Tang Jun Sang, Hong Seung Hee, Ju...","Life, Drama, Family","Autism, Uncle-Nephew Relationship, Death, Sava...",#1,9.2
1,Hospital Playlist,2020,"Mar 12, 2020 - May 28, 2020",Thursday,12,"Netflix, tvN",1 hr. 30 min.,15+ - Teens 15 or older,The stories of people going through their days...,"Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho, Kim...","Friendship, Romance, Life, Medical","Strong Friendship, Multiple Mains, Best Friend...",#2,9.1
2,Flower of Evil,2020,"Jul 29, 2020 - Sep 23, 2020","Wednesday, Thursday",16,tvN,1 hr. 10 min.,15+ - Teens 15 or older,Although Baek Hee Sung is hiding a dark secret...,"Lee Joon Gi, Moon Chae Won, Jang Hee Jin, Seo ...","Thriller, Romance, Crime, Melodrama","Married Couple, Deception, Suspense, Family Se...",#3,9.1
3,Hospital Playlist 2,2021,"Jun 17, 2021 - Sep 16, 2021",Thursday,12,"Netflix, tvN",1 hr. 40 min.,15+ - Teens 15 or older,Everyday is extraordinary for five doctors and...,"Jo Jung Suk, Yoo Yeon Seok, Jung Kyung Ho, Kim...","Friendship, Romance, Life, Medical","Workplace, Strong Friendship, Best Friends, Mu...",#4,9.1
4,My Mister,2018,"Mar 21, 2018 - May 17, 2018","Wednesday, Thursday",16,tvN,1 hr. 17 min.,15+ - Teens 15 or older,Park Dong Hoon is a middle-aged engineer who i...,"Lee Sun Kyun, IU, Park Ho San, Song Sae Byuk, ...","Psychological, Life, Drama, Family","Age Gap, Nice Male Lead, Strong Female Lead, H...",#5,9.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Vagabond,2019,"Sep 20, 2019 - Nov 23, 2019","Friday, Saturday",16,"Netflix, SBS",1 hr. 10 min.,15+ - Teens 15 or older,Cha Dal Gun becomes an awakened tiger in the f...,"Lee Seung Gi, Bae Suzy, Shin Sung Rok, Baek Y...","Action, Thriller, Mystery, Crime","Plane Crash, Revenge, National Intelligence Se...",#96,8.5
96,Doctor John,2019,"Jul 19, 2019 - Sep 7, 2019","Friday, Saturday",32,SBS,35 min.,15+ - Teens 15 or older,“Doctor John” is a medical drama about doctors...,"Ji Sung, Lee Se Young, Lee Kyu Hyung, Hwang He...","Mystery, Romance, Life, Medical","Smart Male Lead, Incurable Disease, Eccentric ...",#97,8.5
97,When the Camellia Blooms,2019,"Sep 18, 2019 - Nov 21, 2019","Wednesday, Thursday",40,"KBS2, Netflix",35 min.,15+ - Teens 15 or older,Dong Baek is a single mother living in the sma...,"Gong Hyo Jin, Kang Ha Neul, Kim Ji Suk, Son Da...","Thriller, Comedy, Romance, Drama, Family","Single Mother, Mystery, Motherhood, Serial Kil...",#98,8.5
98,Because This Is My First Life,2017,"Oct 9, 2017 - Nov 28, 2017","Monday, Tuesday",16,tvN,1 hr. 10 min.,15+ - Teens 15 or older,A house-poor man and homeless woman become hou...,"Jung So Min, Lee Min Ki, Esom, Park Byung Eun,...","Comedy, Romance, Life, Drama","Contract Relationship, Marriage Of Convenience...",#99,8.5
99,Fight For My Way,2017,"May 22, 2017 - Jul 11, 2017","Monday, Tuesday",16,KBS2,60 min.,15+ - Teens 15 or older,Can you still go after your dreams without the...,"Park Seo Joon, Kim Ji Won, Ahn Jae Hong, Song ...","Business, Comedy, Romance, Sports","Childhood Friends, Friends To Lovers, Strong M...",#100,8.5

In [8]:
import numpy as np
import pandas as pd

In [9]:
dict1={"name":['Sunita','Rohan','Shubham'],
       "Marks":[90,34,56]}

In [10]:
df=pd.DataFrame(dict1)
df

      name  Marks
0   Sunita     90
1    Rohan     34
2  Shubham     56

In [18]:
df.to_csv('friends.csv')

In [19]:
df.to_csv('friends.csv', index=False)

In [15]:
df.head(2)

     name  Marks
0  Sunita     90
1   Rohan     34

In [16]:
df.tail(2)

      name  Marks
1    Rohan     34
2  Shubham     56

In [20]:
dict1={"TrainNo.":[1321,1322,1323,1324,1325],
       "City":['Pune','Nagpur','Mumbai','Banglore','Chennai'],
       "SeatsAvailable":[34,26,54,23,44]}

In [21]:
df=pd.DataFrame(dict1)
df

   TrainNo.      City  SeatsAvailable
0      1321      Pune              34
1      1322    Nagpur              26
2      1323    Mumbai              54
3      1324  Banglore              23
4      1325   Chennai              44

In [31]:
df.index=['First','Second','Third','Fourth','Fifth']

In [32]:
df.head()

        TrainNo.      City  SeatsAvailable
First       1321      Pune              34
Second      1322    Nagpur              26
Third       1323    Mumbai              54
Fourth      1324  Banglore              23
Fifth       1325   Chennai              44

In [35]:
df.to_csv('TrainDetails.csv')

In [41]:
df.head(3)

        TrainNo.    City  SeatsAvailable
First       1321    Pune              34
Second      1322  Nagpur              26
Third       1323  Mumbai              54

In [42]:
df.head(4)

        TrainNo.      City  SeatsAvailable
First       1321      Pune              34
Second      1322    Nagpur              26
Third       1323    Mumbai              54
Fourth      1324  Banglore              23

In [ ]:
import numpy as np
import pandas as pd

In [55]:
movies_df = pd.read_csv("C:\\Users\\vishi\\OneDrive\\Desktop\\python\\jupyter notebook\\imdb_top_1000.csv")
movies_df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [63]:
movies_df.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
Poster_Link,https://m.media-amazon.com/images/M/MV5BMDFkYT...,https://m.media-amazon.com/images/M/MV5BM2MyNj...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,https://m.media-amazon.com/images/M/MV5BNGNhMD...,https://m.media-amazon.com/images/M/MV5BNDE4OT...,https://m.media-amazon.com/images/M/MV5BMjAxMz...,https://m.media-amazon.com/images/M/MV5BMmEzNT...,...,https://m.media-amazon.com/images/M/MV5BYjRmY2...,https://m.media-amazon.com/images/M/MV5BMzAyND...,https://m.media-amazon.com/images/M/MV5BMjAwMT...,https://m.media-amazon.com/images/M/MV5BYTE4YW...,https://m.media-amazon.com/images/M/MV5BZjQyMG...,https://m.media-amazon.com/images/M/MV5BNGEwMT...,https://m.media-amazon.com/images/M/MV5BODk3Yj...,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,https://m.media-amazon.com/images/M/MV5BZTBmMj...,https://m.media-amazon.com/images/M/MV5BMTY5OD...
Series_Title,The Shawshank Redemption,The Godfather,The Dark Knight,The Godfather: Part II,12 Angry Men,The Lord of the Rings: The Return of the King,Pulp Fiction,Schindler's List,Inception,Fight Club,...,Giù la testa,Kelly's Heroes,The Jungle Book,Blowup,A Hard Day's Night,Breakfast at Tiffany's,Giant,From Here to Eternity,Lifeboat,The 39 Steps
Released_Year,1994,1972,2008,1974,1957,2003,1994,1993,2010,1999,...,1971,1970,1967,1966,1964,1961,1956,1953,1944,1935
Certificate,A,A,UA,A,U,U,A,A,UA,A,...,PG,GP,U,A,U,A,G,Passed,NaN,NaN
Runtime,142 min,175 min,152 min,202 min,96 min,201 min,154 min,195 min,148 min,139 min,...,157 min,144 min,78 min,111 min,87 min,115 min,201 min,118 min,97 min,86 min
Genre,Drama,"Crime, Drama","Action, Crime, Drama","Crime, Drama","Crime, Drama","Action, Adventure, Drama","Crime, Drama","Biography, Drama, History","Action, Adventure, Sci-Fi",Drama,...,"Drama, War, Western","Adventure, Comedy, War","Animation, Adventure, Family","Drama, Mystery, Thriller","Comedy, Music, Musical","Comedy, Drama, Romance","Drama, Western","Drama, Romance, War","Drama, War","Crime, Mystery, Thriller"
IMDB_Rating,9.3,9.2,9.0,9.0,9.0,8.9,8.9,8.9,8.8,8.8,...,7.6,7.6,7.6,7.6,7.6,7.6,7.6,7.6,7.6,7.6
Overview,Two imprisoned men bond over a number of years...,An organized crime dynasty's aging patriarch t...,When the menace known as the Joker wreaks havo...,The early life and career of Vito Corleone in ...,A jury holdout attempts to prevent a miscarria...,Gandalf and Aragorn lead the World of Men agai...,"The lives of two mob hitmen, a boxer, a gangst...","In German-occupied Poland during World War II,...",A thief who steals corporate secrets through t...,An insomniac office worker and a devil-may-car...,...,A low-life bandit and an I.R.A. explosives exp...,A group of U.S. soldiers sneaks across enemy l...,Bagheera the Panther and Baloo the Bear have a...,A fashion photographer unknowingly captures a ...,"Over two ""typical"" days in the life of The Bea...",A young New York socialite becomes interested ...,Sprawling epic covering the life of a Texas ca...,"In Hawaii in 1941, a private is cruelly punish...",Several survivors of a torpedoed merchant ship...,A man in London tries to help a counter-espion...
Meta_score,80.0,100.0,84.0,90.0,96.0,94.0,94.0,94.0,74.0,66.0,...,77.0,50.0,65.0,82.0,96.0,76.0,84.0,85.0,78.0,93.0
Director,Frank Darabont,Francis Ford Coppola,Christopher Nolan,Francis Ford Coppola,Sidney Lumet,Peter Jackson,Quentin Tarantino,Steven Spielberg,Christopher Nolan,David Fincher,...,Sergio Leone,Brian G. Hutton,Wolfgang Reitherman,Michelangelo Antonioni,Richard Lester,Blake Edwards,George Stevens,Fred Zinnemann,Alfred Hitchcock,Alfred Hitchcock
Star1,Tim Robbins,Marlon Brando,Christian Bale,Al Pacino,Henry Fonda,Elijah Wood,John Travolta,Liam Neeson,Leonardo DiCaprio,Brad Pitt,...,Rod Steiger,Clint Eastwood,Phil Harris,David Hemmings,John Lennon,Audrey Hepburn,Elizabeth Taylor,Burt Lancaster,Tallulah Bankhead,Robert Donat
Star2,Morgan Freeman,Al Pacino,Heath Ledger,Robert De Niro,Lee J. Cobb,Viggo Mortensen,Uma Thurman,Ralph Fiennes,Joseph Gordon-Levitt,Edward Norton,...,James Coburn,Telly Savalas,Sebastian Cabot,Vanessa Redgrave,Paul McCartney,George Peppard,Rock Hudson,Montgomery Clift,John Hodiak,Madeleine Carroll
Star3,Bob Gunton,James Caan,Aaron Eckhart,Robert Duvall,Martin Balsam,Ian McKellen,Samuel L. Jackson,Ben Kingsley,Elliot Page,Meat Loaf,...,Romolo Valli,Don Rickles,Louis Prima,Sarah Miles,George Harrison,Patricia Neal,James Dean,Deborah Kerr,Walter Slezak,Lucie Mannheim
Star4,William Sadler,Diane Keaton,Michael Caine,Diane Keaton,John Fiedler,Orlando Bloom,Bruce Willis,Caroline Goodall,Ken Watanabe,Zach Grenier,...,Maria Monti,Carroll O'Connor,Bruce Reitherman,John Castle,Ringo Starr,Buddy Ebsen,Carroll Baker,Donna Reed,William Bendix,Godfrey Tearle
No_of_Votes,2343110,1620367,2303232,1129952,689845,1642758,1826188,1213505,2067042,1854740,...,30144,45338,166409,56513,40351,166544,34075,43374,26471,51853
Gross,"28,341,469","134,966,411","534,858,444","57,300,000","4,360,000","377,845,905","107,928,762","96,898,818","292,576,195","37,030,102",...,"696,690","1,378,435","141,843,612",NaN,"13,780,024",NaN,NaN,"30,500,000",NaN,NaN

In [56]:
type(movies_df)

pandas.core.frame.DataFrame

In [57]:
movies_df.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [58]:
movies_df.head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"

In [59]:
movies_df.index

RangeIndex(start=0, stop=1000, step=1)

In [60]:
movies_df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [61]:
movies_df.sort_index(axis=0,ascending=False)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [62]:
movies_df.shape

(1000, 16)

BY MONALI MA'AM

In [65]:
# Program to add two matrices using nested loop

X = [[11,3,2],
    [2,7,4],
    [9,0,4]]

Y = [[3,5,9],
    [2,7,5],
    [1,5,4]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

[14, 8, 11]
[4, 14, 9]
[10, 5, 8]

In [66]:
# Program to multiply two matrices using nested loops

X = [[3,4,6],
    [3,9,3],
    [5,7,1]]

Y = [[1,6,4,2],
    [5,9,0,10],
    [2,0,6,1]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

[35, 54, 48, 52]
[54, 99, 30, 99]
[42, 93, 26, 81]

In [71]:
#Program to find transpose of a matrix using a nested loop

X = [[10,4],
    [6,8],
    [2,6]]

result = [[0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
    print(r)

[10, 6, 2]
[4, 8, 6]

In [72]:
# Program to check if a string is palindrome or not

my_str = 'aIbohPhoBiA'

my_str = my_str.casefold()


rev_str = reversed(my_str)

if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [73]:
# Program to check if a string is palindrome or not

my_str = 'PYTHON'

my_str = my_str.casefold()


rev_str = reversed(my_str)

if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is not a palindrome.

BY SAYALI MA'AM

In [74]:
#write a python program to create a dictionary
Student={"Name":"James", "Age":25, "Roll No.":"00120","Result":"Passed"}
print(type(Student))
print("Student Details:",Student)

<class 'dict'>
Student Details: {'Name': 'James', 'Age': 25, 'Roll No.': '00120', 'Result': 'Passed'}

In [76]:
#python program for union of a function
A={'a','b','c'}
B={'f','d','c'}
C={'c','d','e'}

result=A.union(B,C)
print(result)

{'d', 'c', 'e', 'f', 'a', 'b'}

In [77]:
#python program for union of a function
set1={2,4,5,6}
set2={4,6,7,8}
set3={7,8,9,10}
#union of set1 & set2
print("set1 U set2",set1.union(set2))
#union of set1,set2 & set3
print("set1 U set2 U set3:",set1.union(set2,set3))

set1 U set2 {2, 4, 5, 6, 7, 8}
set1 U set2 U set3: {2, 4, 5, 6, 7, 8, 9, 10}

In [78]:
#python program to show use of CAPITALIZE method
txt="hello, welcome to python world"

x=txt.capitalize()

print(x)

Hello, welcome to python world

In [80]:
#python program to show use of CAPITALIZE method
txt="python is fun!"

x=txt.capitalize()

print(x)

Python is fun!